@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track{
  background: #2D3748;
}

::-webkit-scrollbar-thumb{
  background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover{
  background: #718096;
}

.vs__dropdown-toggle {
  border: 0;
  height: 40px;
}
.vs__dropdown-toggle input {
  border: 0;
  height: 30px;
}

.multiple .vs__dropdown-toggle {
  border: 0;
  height: auto !important;
}
.multiple .vs__dropdown-toggle input {
  border: 0;
  height: auto !important;
}
.cursor-grab {
  cursor: grab;
}

.ql-container.ql-snow {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.vs__dropdown-menu {
  border-radius: 0.5rem !important;
  border-color: rgb(223 225 227) !important;
  background: #F9FAFB;
}

.v-select {
  background: transparent;
  border-color: rgb(223 225 227) !important;
  height: 2.875rem;
}



.vs__search::placeholder {
  color: #b5b5b6 !important;
  font-size: 14px;
}


.vs__dropdown-toggle {
  border-radius: 0.5rem !important;
  border-color: rgb(223 225 227) !important;
  height: 2.875rem;
}

.vs--multiple .vs__selected {
  display: none;
}